@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image: url("img 10.jpeg");
}    */

header{
    font-family: 'Montserrat', sans-serif;
} 
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 200px;
    padding: 0 50px;

}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
   align-items: center;
  
}

nav ul li{
    list-style: none;
    padding: 0 50px;
    margin-top: 75px;
    margin-left: 44px;
   
}
nav ul li a{ 

    text-decoration: none;
    color: rgb(243, 200, 10);
}
nav ul li a:hover{ 
    color: rgb(7, 7, 174);
    font-size:large ;
}
/* .container{
    min-height: calc(100vh - 58px - 12vh);
 } */
 .heading{
  margin: 0px 120px  ;
    color: rgb(243, 200, 10);
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
 }
 .para1 p {
    display: flex;
    width:80vw ;
    height: 48vh;
    margin:15px 120px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
   
 }
 .para1 p img {
    width:400px ;
    height: 315px;
 }
 .para2 p {
    display: flex;
    width:80vw ;
    height: 8vh;
    margin:15px 120px ;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
   
 }
 .para3 p {
    display: flex;
    width:80vw ;
    height: 15vh;
    margin:15px 120px ;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
   
 }
 .box{
    display: flex;
    width:75vw ;
    height: 50vh;
    margin:15px 120px ;
    /* justify-content: center; */
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 10px 2px grey;
    /* background-image:url("images/img 10");
    background-image: url("img 10.jpeg");
    background-size: cover; */ */

 } 
 .line-center{
    text-align: center;
 }
 .items{
    /* background-color: aqua; */
    width: 15vw;
    height: 45vh;
    /* height: 100px; */
    display:inline-flex ;
    flex-direction: column;
    /* display: col; */
    margin: 23px 23px;
    justify-content: center;
    
    
 }
  .items img {
    height: 200px;
    width: 200px;

  }

 .lines{

    margin: 10px 10px;
    /* justify-content: center; */
 }
 .end{

    /* width: 90vw; */
    height: 55vh;
    background-color: rgb(15, 8, 112);
    display: flex;
    
 }
.discription{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
 
 /* .end img {
    margin: 0px 10px;
 } */
 .end-logo{
    justify-content: center;
    /* display: inline-flex; */
    width: 30vw;
    height: 55vh;
    /* background-color: gold;  */
    flex-direction: column;
    margin: 0px 23px;
    
 }
 .end-logo img {
    width: 450px;
    height: 275px;
 }
 .end-logo h3{
    margin: 20px 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
 }
 .my-3 ul li a {
   
    text-decoration: none;
    color:white;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.my-3  li  {
    padding: 20px;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 50px;
}
 .my-3 ul li a:hover{
    font-size: larger;

 }
.social{
    margin: 10px 60px;
}
.social i {
    color: white;
    margin: 10px 10px;
   
    
    

}

.my-4 p {
    padding: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
 


 
 /*.slider{
    background-color: aqua;
    width: 800px;
    background: url(img 6);
    margin: 100px auto;
    animation: slide 20s infinite; 
}


@keyframes slide{
    50%{
        background: url(img 7)
    }
    100%{
       background: url(img 8);
}  */








footer{
    background-color: black;
    color: rgb(255, 255, 0);
    height:12vh;
    font-family: 'Montserrat', sans-serif;
} 
footer p a{
    color: white;
    text-decoration: none;
}
/* **************************************************************************************************** */

@media only screen and (max-width: 1062px)
 {
    /* body {
      background-color: aqua;
    } */
   header{
    width: 60%;
   }

     .logo img {
        
        width: 35%;            
        padding: 0px 115px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
  
  nav ul li {
    list-style: none;
    padding: 0 25px;
    margin-top: 0px;
    margin-left: 0px;
  }

    .heading{
        font-size: medium;
        margin: 40px;
        padding: 5px;
    }
     .para1 p  {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 62%;
        margin: 5px 20px;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        /* background-color: aqua; */
  }

  .para1 p img {
    width: 330px;
    height: 260px;
    margin-top: 10px;
    /* justify-content: center; */
}
  .para2 p{
    font-size: 15px;
    margin: 5px 20px;
    display: flex;
    width:60% ;
    height: 10%;
    /* margin:15px 120px ; */
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

  }
  .para3 p{
    font-size: 15px;
    margin: 5px 20px;
    display: flex;
    width:60% ;
    height: 15%;
    /* margin:15px 120px ; */
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }
 
   
  .box{
    /* display: none; */
    flex-direction: column;
    width:60% ;
    height: 0%;
    margin: 20px 20px;
   /* justify-items: center; */
   
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 0px 0px;


}
.items{
    
    width: 40%;
    height: 45%;
    /* height: 100px; */
    display: inline-flex;
    flex-direction: column;
    /* margin: 19px 70px; */
    justify-content: center;
    /* align-items: center; */
}


.lines {
    font-size: 15px;
    margin: 10px 20px;
    justify-content: center;

}
.items img {
    height: 150px;
    width: 220px;
}

.end-logo {
   justify-content: center;
    /* display: inline-flex; */
    width: 45vw;
    height: 45vh;
    /* background-color: gold; */
    flex-direction: column;
    margin: 0px 23px;
}

.end {
    /* width: 90vw; */
    height: 150vh;
    background-color: rgb(15, 8, 112);
    display: flex;
    flex-direction: column;
}
.end-logo img {
    width: 300px;
    height: 230px;
}
.discription {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.my-4 p {
    padding: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}




}
